%manrope-700 {
  font-family: 'Manrope-Bold', sans-serif;
  font-weight: 700;
}

%manrope-500 {
  font-family: 'Manrope-Medium', sans-serif;
  font-weight: 500;
}

%manrope-600 {
  font-family: 'Manrope-SemiBold', sans-serif;
  font-weight: 600;
}

%ubuntu-700 {
  font-family: 'Ubuntu-Bold', sans-serif;
  font-weight: 700;
}

$default: #1f1f1f;
