%manrope-700 {
  font-family: 'Manrope-Bold', sans-serif;
  font-weight: 700;
}

%manrope-500 {
  font-family: 'Manrope-Medium', sans-serif;
  font-weight: 500;
}

%manrope-600 {
  font-family: 'Manrope-SemiBold', sans-serif;
  font-weight: 600;
}

%ubuntu-700 {
  font-family: 'Ubuntu-Bold', sans-serif;
  font-weight: 700;
}

$default: #1f1f1f;
$acsent: #a90505;
$bg: #f0f0f0;

%btn {
  @extend%ubuntu-700;
  padding: 27px 105px;
  background-color: $acsent;
  font-size: 20px;
  line-height: 24px;
  color: $bg;
  border: none;
  border-radius: 70px;
  cursor: pointer;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    opacity: 80%;
    transition: all 0.5s;
  }
}
